<!DOCTYPE html>
<html lang="en">

<head>
  <!-- this will include 'head.ejs' at header -->
  <%- include('head') -%>
</head>

<body>

  <div class="main-container">
    <h1>
      <%= title %>
    </h1>

    <div class="task-container">
      <ul>
        <% items.forEach((item)=>{ %>
          <li>
            <form action="/delete" method="post">
              <input type="checkbox" name="checkBox" value="<%= item._id %>" onchange="this.form.submit()">
              <p>
                <%= item.task %>
              </p>
              <input type="hidden" name="hiddenInput" value="<%= title %>">
            </form>
          </li>
          <% }) %>
      </ul>
      <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New task" autofocus autocomplete="off">
        <button type="submit" name="addButton" value="<%= title %>"> + </button>
      </form>
    </div>
  </div>

  <footer>
    Copyright 2022 Omkar Date!
  </footer>
</body>

</html>